{{range $match := .}}
<tr class="hover:bg-indigo-200 hover:cursor-pointer" hx-get="/match/{{$match.Hash}}" hx-target="closest body" hx-trigger="click" hx-push-url="true">
	<td class="border-2 border-transparent">
		<div class="bg-indigo-200 p-1 m-1 flex-inline items-center">
			{{- $match.Meta.ScouterName -}}
		</div>
	</td>
	<td class="border-2 border-transparent">
		<div class="bg-indigo-200 p-1 m-1 flex-inline items-center">
			{{- $match.Meta.MatchNumber -}}
		</div>
	</td>
	<td class="border-2 border-transparent">
		<div class="bg-indigo-200 p-1 m-1 flex-inline items-center">
			{{- $match.Meta.TeamNumber -}}
		</div>
	</td>
	<td class="border-2 border-transparent">
		<div class="bg-indigo-200 p-1 m-1 flex-inline items-center">
			{{- $match.Meta.MatchType -}}
		</div>
	</td>
	<td class="border-2 border-transparent">
		<div class="bg-indigo-200 hover:bg-indigo-400 p-1 m-1 flex-inline items-center">
			<button hx-post="/delete/{{$match.Hash}}" hx-trigger="click consume" hx-target="closest tr" hx-push-url="false">Delete</button>
		</div>
	</td>
</tr>
{{end}}
